In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel("../data/Dailylog data -lifelog/Lifestyle - Caffeine.xlsx")
df.shape

(2661, 6)

In [5]:
df.rename(columns={"Non-identifying keys":"id"},inplace=True)

In [6]:
df.drop(columns="When",inplace=True)

In [7]:
df

,id,Date,Type,Intake,Unit
0,SYM2-1-101,2021-03-02,Carbonated beverages (such as Coke),3,Glass (200ml)
1,SYM2-1-285,2021-04-15,Coffee at a coffee shop,1,Glass (1shots)
2,SYM2-1-285,2021-04-16,Coffee at a coffee shop,1,Glass (1shots)
3,SYM2-1-285,2021-04-16,Coffee at a coffee shop,1,Glass (1shots)
4,SYM2-1-285,2021-04-17,Coffee at a coffee shop,1,Glass (1shots)
...,...,...,...,...,...
2656,SYM2-1-634,2023-12-12,Coffee at a coffee shop,2,Glass (1shots)
2657,SYM2-1-634,2023-12-13,Coffee at a coffee shop,2,Glass (1shots)
2658,SYM2-1-634,2023-12-13,Coffee at a coffee shop,2,Glass (1shots)
2659,SYM2-1-634,2023-12-16,Coffee at a coffee shop,2,Glass (1shots)
2660,SYM2-1-634,2023-12-16,Coffee at a coffee shop,2,Glass (1shots)

In [8]:
for i in df[["Type","Intake","Unit"]].columns:
    print(i)
    print(df[i].unique())

Type
['Carbonated beverages (such as Coke)' 'Coffee at a coffee shop'
 'Capsule coffee' 'Other processed products (coffee milk, cocoa, etc.)'
 'Instant coffee (vending machines, canned coffee, mixed coffee, etc.)'
 'Energy drinks' 'Drip coffee' 'Tea type (green tea, black tea, etc.)'
 'Other (decaffeinated coffee)' 'Nourishing tonic drinks (such as Bakkas)']
Intake
[ 3  1  2  4 40  5]
Unit
['Glass (200ml)' 'Glass (1shots)' 'Glass (Serving size)' 'Cans'
 'Bottle (100ml)']

In [9]:
mapping = {
        "Carbonated beverages (such as Coke)": 10,
        "Coffee at a coffee shop": 210,
        "Capsule coffee": 80,
        "Other processed products (coffee milk, cocoa, etc.)": 10,
        "Instant coffee (vending machines, canned coffee, mixed coffee, etc.)": 50,
        "Energy drinks": 32,
        "Drip coffee": 40,
        "Tea type (green tea, black tea, etc.)": 20,
        "Other (decaffeinated coffee)": 3,
        "Nourishing tonic drinks (such as Bakkas)": 50,
        "Glass (200ml)": 200,
        "Glass (1shots)": 30,
        "Glass (Serving size)": 100,
        "Cans": 250,
        "Bottle (100ml)": 100
}

df.replace(mapping,inplace=True)

C:\Users\jainn\AppData\Local\Temp\ipykernel_21328\3633239600.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(mapping,inplace=True)

In [10]:
df

              id       Date  Type  Intake  Unit
0     SYM2-1-101 2021-03-02    10       3   200
1     SYM2-1-285 2021-04-15   210       1    30
2     SYM2-1-285 2021-04-16   210       1    30
3     SYM2-1-285 2021-04-16   210       1    30
4     SYM2-1-285 2021-04-17   210       1    30
...          ...        ...   ...     ...   ...
2656  SYM2-1-634 2023-12-12   210       2    30
2657  SYM2-1-634 2023-12-13   210       2    30
2658  SYM2-1-634 2023-12-13   210       2    30
2659  SYM2-1-634 2023-12-16   210       2    30
2660  SYM2-1-634 2023-12-16   210       2    30

[2661 rows x 5 columns]

In [11]:
def cal_tol_caffeine(df):
        return ((df["Type"]*df["Unit"])/100)*df["Intake"]

df["total_caffeine"]=df.apply(cal_tol_caffeine,axis=1)

In [12]:
df.drop(columns=["Type","Intake","Unit"],inplace=True)

In [13]:
print(df[["id","Date"]].duplicated().sum())
df = df.drop_duplicates(subset=["id", "Date"], keep='first')
print(df[["id","Date"]].duplicated().sum())

508
0

In [14]:
print(df.shape)

(2153, 3)

In [15]:
df.to_csv("../data_processed/daily_lifelog/caffeine.csv",index=False)